body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: mintcream;
}

.btn {
  border: none;
  outline: none;
  margin: 0;
  padding: 7px;
  cursor: pointer;
  background-color: mediumaquamarine;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
  font-family: "Comic Sans MS", sans-serif;
}
.btn:hover {
  background-color: pink;
}

.clearfix {
  clear: both;
}

.col {
  float: left;
  height: 510px;
}
.col-left,
.col-right {
  width: 150px;
}
.col-center {
  width: 679px;
}

#doge-canvas {
  border: 2px solid mediumaquamarine;
  width: 675px;
  height: 506px;
}

.doge-word {
  position: absolute;
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
  text-shadow: 1px 1px 2px black, 0 0 1em pink;
  color: pink;
}

.loading {
  margin-top: 200px;
  text-align: center;
}

main {
  width: 979px;
  margin-right: auto;
  margin-left: auto;
}

.sprite-preview {
  width: 50px;
}

.tools-btn {
  width: 100%;
}

.tools-panel {
  display: none;
  border-bottom: 2px solid powderblue;
}

.tools-toggle {
  background-color: mediumaquamarine;
}
.tools-toggle.active {
  background-color: powderblue;
}

/**
 * Colors for "Loading..."
 */
.c-1 { color: #318c80; }
.c-2 { color: #51d9b5; }
.c-3 { color: #a6e582; }
.c-4 { color: #f2cf61; }
.c-5 { color: #d95b5b; }

/**
 * Modals
 */
 .modal {
  display: none;
  position: absolute;
  top: 75px;
  background: rgba(230,240,245,0.95);
  margin: 10px;
  width: 660px;
  height: 490px;
  border: 1px solid mediumaquamarine;
}
.modal-close {
  position: absolute;
  top: 1px;
  right: 5px;
}
.modal-header {
  background: rgba(102,205,170,0.9);
  padding: 10px;
}
.modal-content {
  padding: 10px;
}
.modal-toggle.active {
  background-color: powderblue;
}

/**
 * "About" modal window
 */
.about-modal-section {
  margin-bottom: 10px;
}
.about-modal-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.about-modal-section ul {
  margin-left: 10px;
}
